.haikei {background-color:#F6CEEC; border-radius:10px;}
li {font-size:20px; color:white;}
li:first-letter {color:yellow}
dl>dt {color:blue;}
a:hover {color:gray}
#hr {color:red}
h1>span {background-color:white;}
body {background-color:#CEE3F6;}
